<!DOCTYPE html>
<html>
  <head>
    <title>Formation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !notice.nil? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if !alert.nil? %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= render "micro_profile" %>
    <% flash.each do |flash_type, msg| %>
      <div class="<%= flash_type %>"><%= msg %></div>
    <% end %>



    <%= yield %>
  </body>
</html>
